@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .blob{
    @apply h-72 lg:h-[380px] sm:mx-32 md:mx-52 lg:mx-4 w-auto mb-7 mx-7 lg:m-5 ;
    background-image: url('/assets/gradpic.png');
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
      /* box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2); */
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
  }
}

@keyframes animate {
  0%, 100%{
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50%{
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

